* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: #081b29;
   overflow: hidden;
}
#wrapper{
   position: relative;
   width: 250px;
   height: 250px;
   /* background: seagreen; */
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   animation: colorful 30s linear infinite;
}
@keyframes colorful {
    100%{
      filter: hue-rotate(360deg);
    }
}
.bar-second,#hours{
   position: absolute;
   width: 100%;
   height: 100%;
   /* background: purple; */
   border-radius: 50%;
}
.bar-second span{
  position: absolute;
  transform: rotate(calc(var(--index)*6deg));
  inset: -13px;
  text-align: center;
}
.bar-second span p{
  display: inline-block;
  width: 1px;
  height: 7px;
  background: #0ef;
  border-radius: 2px;
  box-shadow: 0 0 2px #0ef;
}
.bar-second span:nth-child(5n) p{
  /* background: red; */
  width: 2.5px;
  height: 10px;
  transform: translateY(2px);
}
#hours span{
   position: absolute;
   transform: rotate(calc(var(--index) * 30deg));
   inset: 3px;
   text-align: center;
}
#hours span p{
  font-size: 27px; /* size of numbers */
  color: #0ef;
  text-shadow: 0 0 20px #0ef;
  transform: rotate(calc(var(--index) * -30deg));
}
.hand-box{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}
.hand-box .hand{
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.hand-box .hand i{
  display: inline-block;
  transform-origin: bottom;
  border-radius: 50%;
  box-shadow: 0 0 15px #0ef;
}
.hand-box .hour{
  height: 160px;
  width: 160px;
  /* transform: rotate(40deg); */
  /* border: 2px solid red; */
}
.hand-box .hour i{
  width: 4px;
  height: 80px;
  background: #0ef;
}
.hand-box .minute::before{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background: #0ef;
  border-radius: 50%;
  box-shadow: 0 0 15px #0ef;
}
.hand-box .minute{
  height: 225px;
  width: 225px;
  /* transform: rotate(230deg); */
  /* border: 2px solid yellow; */
}
.hand-box .minute i{
  width: 4px;
  height: 111px;
  background: #0ef;
}
.hand-box .second{
  height: 240px;
  width: 240px;
  /* transform: rotate(150deg); */
  /* border: 2px solid white; */
}
.hand-box .second::before{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.hand-box .second i{
  width: 3px;
  height: calc(120px + 30px);
  background:white;
  border-radius: 50%;
  box-shadow: none;
}
